html,
body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
    overflow: hidden;
}

body {
    background: linear-gradient(#56657D, #798EB1)
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #CCC !important;
    border-radius: 0 4px 4px 0;
}

.login-container {
    width: 350px;
    margin: 105px auto;
}

.login-title {
    text-align: center;
    padding: 10px 0;
}

.login-title h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #fff;
}

.login-panel {
    padding: 36px;
    border: 1px solid #9b9fa5;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.login-form {}

.form-input,
.loginbar {
    max-width: 100%;
    margin-bottom: 20px;
}

.form-input .form-control {
    width: 100%;
    color: #858585;
    box-sizing: border-box;
    display: block;
    height: 34px;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    padding: 2px 8px 2px;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
}

.btn-login {
    background-color: #428BCA!important;
    border: none;
    display: block;
    font-size: 13px;
    padding: 8px 9px;
    cursor: pointer;
    line-height: 1.38;
    width: 100% !important;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    user-select: none;
    box-shadow: none;
    font-weight: 400;
    border-radius: 2px;
}

.btn-login:hover {
    background-color: #306fa6;
}