.clearfix:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
@import url('//at.alicdn.com/t/font_s4c0g91ekgbep14i.css');
body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #657180;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html,
body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

ul,
li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    color: #3399ff;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .2s ease;
}

a:hover {
    color: #3399ff;
}

a:active {
    color: #3399ff;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

a[disabled] {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.container {
        padding: 20px;
}

.pull-left{
    float:left;
}
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}
.fixed-toolbar .search{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
    margin-left:10px;
}
.form-control{
    z-index: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #c4cbe1;
    font-size: 12px;
    color: #333;
    padding: 10px 15px;
    outline: none;
}



/*淡入淡出动画*/

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/*移动端*/
@media (max-width: 600px) {
    .xs-hide{
        display: none;
    }
}


/*modalPopUp组件需要的样式*/
.modal-mask{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background:#000;
    opacity:.5;
}
/*modalPopUp 遮罩淡入*/
.modal-mask-enter{
    animation: modal-in .2s ease;
}
/*modalPopUp 遮罩淡出*/
.modal-mask-leave{
    animation: modal-out .2s ease;
}
@keyframes modal-in{
    0%{
        opacity: 0;
    }
    100%{
        
    }
}

@keyframes modal-out{
    0%{
       
    }
    100%{
         opacity: 0;
    }
}
